<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}"></h1>


<p th:unless="${cheeses} and ${cheeses.size()}">No Cheese</p>

<form method="post">

    <div th:each="cheese : ${cheeses}" class="checkbox">
        <input type="checkbox"  th:name="cheeseIds" th:value="${cheese.cheeseId}" th:id="${cheese.name}" />
        <label th:for="${cheese.cheeseId}" th:text="${cheese.name}"></label>
        <!--<td th:text="${cheese.getDescription()}">Value</td>-->
    </div>

<input type="submit" value="Delete Cheese"/>
</form>

</body>
</html>